html {
    font-size: 16px;
    font-family: var(--font-system);
    color: var(--text-color);
}

a {
    color: inherit;
    text-decoration: none;

    &:hover {
        color: var(--link-active-color);
        text-decoration: underline;
    }
}

input {
    display: block;
    width: 100%;
    border-radius: 0.2rem;
    border: 0;
    padding: 0.5rem;
    background-color: var(--input-background-color);
    color: var(--text-color);
    font-size: 1.25rem;
    box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.21), inset 0px 0px 0px 1px rgba(0, 0, 0, 0.12);
    transition: box-shadow 0.45s cubic-bezier(0.165, 0.84, 0.44, 1);
    outline: none;

    &:hover {
        box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.21), inset 0px 0px 0px 1px var(--input-active-color);
    }

    &:focus {
        box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.21), inset 0px 0px 0px 1px var(--input-active-color);
    }
}

label {
    &.error {
        color: var(--error-color);
    }
}

svg {
    &.icon {
        width: 1rem;
        height: 1rem;
    }

    &:not(:root) {
        overflow: hidden;
    }
}

table {
    border-collapse: collapse;
    border-spacing: 0;

    tr {
        border-color: var(--row-background-color);
        border-top-style: solid;
        border-top-width: 1px;

        &:first-of-type {
            border-top: none;
        }
    }
}

header {
    position: relative;
    z-index: var(--main-header-z-index);
}

footer {
    background-color: var(--background-tertiary-color);
    text-align: center;
    padding: 2rem 0;
}

.card {
    padding: 3rem;
    border-radius: 0.5rem;
    background-color: var(--card-background-color);
    box-shadow: 0px 18px 35px 0px rgba(0, 0, 0, 0.29), 0px 6px 10px 0px rgba(0, 0, 0, 0.5);
}

.button {
    background-color: var(--button-primary-color);
    color: var(--text-color);
    border-color: var(--button-primary-color);
    font-size: 1.125rem;
    font-weight: 700;
    border-radius: 0.25rem;
    text-decoration: none !important;
    border-style: solid;
    appearance: none;
    user-select: none;
    padding: 0.5rem 0.875rem;
    line-height: 1.5rem;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    border-width: 2px;
    transition: background-color 0.1s ease 0s;
    transition: background-color 0.1s ease 0s, border-color 0.1s ease 0s;

    &:hover {
        background-color: var(--button-active-color);
        border-color: var(--button-active-color);
    }

    &.button--icon {
        & > svg {
            position: relative;
            top: 0.125rem;
            margin-right: 0.5rem;
            fill: var(--text-color);
        }
    }
}

.note {
    font-size: 0.75rem;
    text-transform: none;
    font-weight: 500;
}

.nav-top {
    padding: 0.5rem 0;
    background: rgb(1, 1, 2);

    .nav-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .logo-wrapper {
            flex: 0 0 6.5rem;

            > a {
                display: inline-block;
            }
        }

        .actions-wrapper {
            display: flex;
        }
    }
}

.nav-bottom {
    --nav-height: 3.25rem;

    background-color: var(--background-tertiary-color);

    .nav-wrapper {
        display: flex;
        justify-content: space-between;
        position: relative;
    }

    .nav-categories {
        display: flex;

        .nav-item {
            display: inline-block;
            color: var(--text-color);
            font-size: 0.875rem;
            font-weight: 700;
            position: relative;
            padding: 1rem 1rem 1rem 3rem;
            transition: background-color 0.45s cubic-bezier(0.165, 0.84, 0.44, 1), color 0.45s cubic-bezier(0.165, 0.84, 0.44, 1);
            border-left-style: solid;
            border-left-width: 1px;
            border-color: var(--nav-item-background-active);

            &.active,
            &:hover {
                background-color: var(--nav-item-background-active);

                svg {
                    fill: var(--highlight-color);
                }
            }

            svg {
                fill: var(--text-color);
            }

            &.active {
                .down-caret {
                    transform: rotate(180deg);
                }
            }

            .down-caret {
                display: inline-block;
                position: relative;
                top: 3px;
                left: 4px;
                transition: transform 0.45s cubic-bezier(0.165, 0.84, 0.44, 1);
                transform-origin: 50% 42%;

                svg {
                    width: 14px;
                    height: 14px;
                }
            }

            .nav__icon {
                fill: rgba(184, 184, 200, 0.5);
                width: 24px;
                height: 24px;
                position: absolute;
                left: 12px;
                top: 15px;
            }
        }
    }

    .nav-products-list {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background-color: var(--nav-item-background-active);
        z-index: var(--nav-z-index);
        padding: 2rem 0;
        opacity: 1;
        transform: translateY(var(--nav-height));
        transition: opacity 0.65s cubic-bezier(0.165, 0.84, 0.44, 1), transform 0.35s cubic-bezier(0.165, 0.84, 0.44, 1);

        &.hide {
            opacity: 0;
            transform: translateY(-3.25rem);
            z-index: -1;
        }

        .products-block {
            max-width: 50%;
        }

        .popular-products {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 0.5rem;

            li {
                a {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    height: 100%;
                    padding: 0.5rem;
                    font-size: 0.75rem;
                    font-weight: 700;
                    text-align: center;
                    background-color: rgb(53 53 68);
                    box-shadow: inset 0px 0px 0px 1px rgb(66, 66, 81);
                    transition: box-shadow 0.45s cubic-bezier(0.165, 0.84, 0.44, 1), background-color 0.45s cubic-bezier(0.165, 0.84, 0.44, 1);

                    &:hover {
                        background-color: rgba(239, 158, 32, 0.15);
                        box-shadow: inset 0px 0px 0px 2px var(--highlight-color);
                    }

                    img {
                        min-width: 4rem;
                        max-width: 6.25rem;
                    }
                }
            }
        }
    }
}

.page-wrapper {
    background-color: var(--background-primary-color);
}

.title-wrapper {
    text-align: center;
    padding: 2rem 0;
    background-color: var(--background-secondary-color);

    h1 {
        font-size: 2rem;
    }
}