:root {
    /* https://modernfontstacks.com/
       geometric humanist font */
    --font-system: Avenir, Montserrat, Corbel, source-sans-pro, sans-serif;

    --size-desktop: 1440px;
    --size-laptop: 1024px;
    --size-tablet: 768px;

    --main-header-z-index: 10;
    --nav-z-index: 5;

    --background-primary-color: rgb(40, 40, 56);
    --background-secondary-color: rgb(70, 70, 91);
    --background-tertiary-color: rgb(9, 9, 15);

    --text-color: #FFFFFF;
    --text-color-mute: hsl(0, 0%, 60%);

    --compatibility-valid: #00b16a;

    --highlight-color: rgb(239, 158, 32);

    --link-color: rgb(116 186 255);
    --link-active-color: rgb(218, 237, 255);

    --button-primary-color: rgb(43 134 222);
    --button-active-color: rgb(25 95 163);

    --nav-separator-color: goldenrod;
    --nav-background-color: hsl(50, 50%, 95%);

    --input-background-color: rgb(17, 17, 28);
    --input-active-color: rgb(44 133 197);

    --nav-item-background-active: rgb(24 24 39);

    --card-background-color: rgb(61, 61, 83);

    --row-background-color: rgb(55, 55, 77);

    --error-color: rgb(229 44 52);
}