.page-register {
    .title-wrapper {
        background-color: transparent;
    }

    .registration-wrapper {
        max-width: 35%;
        margin: 0 auto;
        padding-bottom: 2rem;
    }

    .field-wrapper {
        &:not(:first-of-type) {
            margin-top: 2rem;
        }
    }
}