{{define "nav"}}
    <header>
        <nav class="main-nav">
            <ul class="nav-categories">
                <li class="nav-item"><a href="/list">Builder</a></li>
                <li class="nav-item"><a href="#">Products</a></li>
                <li class="nav-item"><a href="/guides">Guides</a></li>
                <li class="nav-item"><a href="/builds">Completed builds</a></li>
                <li class="nav-item"><a href="/trends">Trends</a></li>
                <li class="nav-item"><a href="/benchmarks">Benchmarks</a></li>
            </ul>
        </nav>
    </header>
{{end}}