{{define "search"}}
<div class="searchField">
    <div class="search-wrapper">
        <form id="site_search_nav" role="search" action="/search/" method="get">
            <input id="search_q" name="q" type="search" class="text-input inactive_search" placeholder="Search..."
                aria-label="Search Products">
            <button class="button button--primary">Search</button>
        </form>
    </div>
</div>
{{end}}